# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# builds & coverage
dist/
build/
coverage/

# env/config
.env
*.env
.env.*
backend/.env
frontend/.env

# misc
logs/
*.log
.vscode/
.DS_Store

# backend
backend/data